{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}
    课程机构
{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        console.log('运作正常')
        $(function () {
            {#$('#jsStayBtn').on('click', function () {#}
            $('#jsStayForm').submit(function () {
                console.log('click')
                $.ajax({
                    type: 'POST',
                    url: "{% url "org:add_ask" %}",
                    data: $('#jsStayForm').serialize(),
                    async: true,
                    success: function (data) {
                        console.log(data);
                        if(data.status == 'success'){
                            $('#jsStayForm')[0].reset();
                            console.log('提交成功');
                        }else if(data.status == 'fail'){
                            console.log(data.msg);
                            console.log('提交失败');
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}
{% block content %}
    <section class="container org-list" style="position: relative">
        <div class="org-head">
            <p class="bred"><a href="{% url 'index' %}">首页></a><i>课程机构</i></p>
            <div class="head-content">
                <div class="list-nav">
                    <p>机构类别</p>
                    <ul>
                        <li class="{% ifequal category '' %}
                            active
                        {% endifequal %}
                        "><a href="?city={{ city_id }}">全部</a></li>
                        <li class="{% ifequal category 'pxjg' %}
                            active
                        {% endifequal %}"><a href="?ct=pxjg&city={{ city_id }}">培训机构</a></li>
                        <li class="{% ifequal category 'gx' %}
                            active
                        {% endifequal %}"><a href="?ct=gx&city={{ city_id }}">高校</a></li>
                        <li class="{% ifequal category 'gr' %}
                            active
                        {% endifequal %}"><a href="?ct=gr&city={{ city_id }}">个人</a></li>
                    </ul>
                </div>
                <div class="list-nav">
                    <p>所在地区</p>
                    <ul>
                        <li {% ifequal city_id '' %}
                            class="active"
                        {% endifequal %}
                        ><a href="?ct={{ category }}">全部</a></li>
                        {% for city in all_citys %}
                            <li class="{% ifequal city_id city.id|stringformat:'i' %}
                                    active
                            {% endifequal %}
                            "><a href="?city={{ city.id }}&ct={{ category }}">{{ city.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <p class="count">共<span>{{ org_nums }}</span>家</p>
        </div>
        <div class="mid-list">
            <ul>
                <li class="{% if sort == '' %}
                    active
                {% endif %}"><a href="?ct={{ category }}&city={{ city_id }}">全部</a></li>
                <li class="{% if sort == 'students' %}
                    active
                {% endif %}"><a href="?sort=students&ct={{ category }}&city={{ city_id }}">学习人数</a></li>
                <li class="{% if sort == 'courses' %}
                    active
                {% endif %}"><a href="?sort=courses&ct={{ category }}&city={{ city_id }}">课程数</a></li>
            </ul>
            {% for course_org in all_orgs.object_list %}
                <div class="det-list">
                    <a href="{% url 'org:org_home' course_org.id %}"><img src="/media/{{ course_org.image }}" alt=""></a>
                    <div class="message">
                        <h1>{{ course_org.name }}</h1>
                        <small>课程数：<span>{{ course_org.get_course_nums }}</span></small>&nbsp;&nbsp;
                        <small>学习人数：<span>1000</span></small>
                        <br>
                        <small>{{ course_org.city }}</small>
                        <br>
                        <small>经典课程： <span>c语言基础入门 数据库基础</span></small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="paging-list">
            <ul>
                {% if all_orgs.has_previous %}
                    <li class="spec"><a href="?{{ all_orgs.previous_page_number.querystring }}"
                    >上一页</a></li>
                {% endif %}
                {% for page in all_orgs.pages %}
                    {% if page %}
                        {% ifequal page all_orgs.number %}
                            <li class="active"><a href="">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_orgs.has_next %}
                    <li class="spec"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="my-apply">
            <h1>我要学习</h1>
            <div class="apply-main">
                <form action="" method="post" id="jsStayForm" onsubmit="return false">
                    <input type="text" name="name" placeholder="名字" required>
                    <input type="tel" name="mobile" placeholder="联系电话" required>
                    <input type="text" name="course_name" placeholder="课程名" required>
                    <input type="submit" value="立即咨询" id="jsStayBtn">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="org-sort">
            <h1>授课机构排名</h1>
            {% for hot_org in hot_orgs %}
                <div class="sort">
                    <h1>{{ forloop.counter }}&nbsp;{{ hot_org.name }}</h1>
                    <p>{{ hot_org.address }}</p>
                </div>
            {% endfor %}
        </div>
        <div style="width: 100%;height: 50px;"></div>
    </section>
{% endblock %}