{% extends 'user-course.html' %}
{% load staticfiles %}
{% block my_custom %}
    <link rel="stylesheet" href="{% static 'css/myfav.css' %}">
{% endblock %}
{% block title %}
    我的收藏
{% endblock %}
{% block logo %}
    <div class="container logo-search">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
        <h1 style="margin-right: 20px">个人首页</h1>
    </div>
{% endblock %}
{% block page_path %}
    我的收藏
{% endblock %}
{% block right_content %}
    <div class="bs-div">
{#        <h1>我的收藏</h1>#}
        <div class="fav-list">
            <ul>
                <li>课程机构</li>
                <li>授课教师</li>
                <li>公开课程</li>
            </ul>
        </div>
        {% for org in org_list %}
            <div class="fav-bd">
                <a href=""><img src="/media/{{ org.image }}" alt=""></a>
                <h2>{{ org.name }}</h2><br>
                <p>{{ org.address }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}